---
import { getCollection } from 'astro:content'
import SiteLayout from '@/layouts/SiteLayout.astro'

const blogs = await getCollection('blog')
console.log(blogs)
---

<SiteLayout title="penjj · Blog">
  {
    blogs.map(item => (
      <a href={item.collection + '/' + item.slug}>{item.data.title}</a>
    ))
  }
</SiteLayout>
