/* Header theme switch animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
[data-theme="dark"]::view-transition-old(root) {
  z-index: 9999;
}
[data-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}

:root {
  color-scheme: light dark;
}
[data-theme='dark'] {
  color-scheme: dark;
  background: #000;
}
body {
  min-height: 100vh;
}

[data-theme='light'] {
  color-scheme: light;
}

.article-container {
  background: radial-gradient(ellipse 70% 50% at 50% -22%, #777ac636, #0000);
}

[data-theme='light'] .article-container {
  background: none;
}