---
import Counter from '../components/Counter.tsx'
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout title="penjj · Blog">
  <Counter client:visible>
    <h1>Hello solidjs</h1>
  </Counter>
</SiteLayout>
