---
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout title="penjj · Blog">
  <h1 class="text-3xl">如何联系我？</h1>

  <div class="mt-8">如果您有需要，可以通过以下微信或者邮件来与我联系。</div>

  <div class="mt-8">
    Email: <a href="mailto:peng.j.1995@gmail.com">peng.j.1995@gmail.com</a>
  </div>
  <img class="w-30 mt-4" src="/wechat.png" />
</SiteLayout>
