---
import SiteLayout from '@/layouts/SiteLayout.astro'
---

<SiteLayout title="penjj · Posts">
  <h1 class="text-3xl">如何联系我？</h1>
  <div>扫一扫加我微信</div>
  <img class="w-30 mt-4" src="/wechat.png" />
  或
  <div class="mt-8">
    email: <a href="mailto:peng.j.1995@gmail.com">peng.j.1995@gmail.com</a>
  </div>
</SiteLayout>
