---
import { getCollection } from 'astro:content'
import SiteLayout from '@/layouts/SiteLayout.astro'
import { join } from 'node:path'

const blogs = await getCollection('blog')
---

<SiteLayout title="penjj · Blog">
  {blogs.map((item) => <a href={join('/', item.collection, '/', item.slug)}>{item.data.title}</a>)}
</SiteLayout>
