---
import { ViewTransitions } from 'astro:transitions'
import Header from '@/components/Header.tsx'

import '@/styles/global.css'

const { title } = Astro.props
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <ViewTransitions />
    <title>{title}</title>
    <script is:inline>
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?30bb3449c8d056ee2a08605aa52c2cca'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>

    <script is:inline>
      let currentMode = sessionStorage.getItem('data-theme')
      if (currentMode === 'auto') {
        const systemDark = window.matchMedia('(prefers-color-scheme: dark)')
        currentMode = systemDark.matches ? 'dark' : 'light'
      }
      document.documentElement.setAttribute('data-theme', currentMode)
    </script>
  </head>
  <body class="font-sans h-100%" flex="~ col">
    <Header client:visible active={Astro.url.pathname} />
    <main
      class="px-4 pt-6 transition-all flex-1 h-100%
      sm:(pt-20 min-w-640px m-[0_auto]) lg:(w-900px)"
    >
      <slot />
    </main>

    <footer class="px-4 text-center pt-10 pb-3 text-sm h-text">
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-Hans"
        target="_blank"
        title="To CC BY_NC_SA 4.0 License"
      >
        CC BY-NC-SA 4.0
      </a> 2023-PRESENT © penjj
    </footer>
  </body>
</html>
