---
import Footer from '../components/Footer.tsx'
import Header from '../components/Header.tsx';

const { title } = Astro.props
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
