---
import { ViewTransitions } from 'astro:transitions'
import { Header } from '@/components/Header.tsx'

import '@/styles/global.css'

const { title } = Astro.props
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <ViewTransitions />
    <title>{title}</title>
    <script
      src="https://hm.baidu.com/hm.js?30bb3449c8d056ee2a08605aa52c2cca"
      async></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WFJE1C494R"
    ></script>
    <script>
      const dataLayer = ((window as any).dataLayer ||= [])
      dataLayer.push('js', new Date())
      dataLayer.push('config', 'G-WFJE1C494R')
    </script>

    <script>
      let currentMode = sessionStorage.getItem('data-theme')
      if (currentMode === 'auto') {
        const systemDark = window.matchMedia('(prefers-color-scheme: dark)')
        currentMode = systemDark.matches ? 'dark' : 'sunset'
      }
      document.documentElement.setAttribute('data-theme', currentMode)
    </script>
  </head>
  <body class="font-sans h-100% dark:color-#f5f5f5" flex="~ col" page-main>
    <Header client:visible active={Astro.url.pathname} />
    <main
      class="article-container px-4 pt-6 transition-all flex-1 h-100%
      sm:(pt-20 m-[0_auto]) w-full"
    >
      <div class="sm:min-w-640px lg:w-900px">
        <slot />
      </div>
    </main>

    <footer
      p="x4 t4 b8"
      text="center sm tertiary"
      w="sm:200 90vw"
      class="b-t dark:border-neutral-900 self-center"
    >
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-Hans"
        target="_blank"
        title="To CC BY_NC_SA 4.0 License"
      >
        CC BY-NC-SA 4.0
      </a> 2023-PRESENT © penjj
    </footer>
  </body>
</html>
